{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      {% assign prevTitle = page.previous.title | markdownify | strip_html %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ prevTitle }}"><small>{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</small><br />{{ prevTitle }}</a>
    {% else %}
    <a href="#" class="pagination--pager disabled"><small>{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</small><br />No Post</a>
    {% endif %}
    {% if page.next %}
      {% assign nextTitle = page.next.title | markdownify | strip_html %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ nextTitle }}"><small>{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</small><br />{{ nextTitle }}</a>
    {% else %}
    <a href="#" class="pagination--pager disabled"><small>{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</small><br />No Post</a>
    {% endif %}
  </nav>
{% endif %}
