---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

{% for collection in site.collections %}
  {% if collection.output == true and collection.label == "books" %}
    <div class="archive__collection">
    <h4 class="subtitle">Recent books in bookshelf</h4>
      {% assign sortedDocs = collection.docs | sort: 'date' | reverse %}
      {% for post in sortedDocs limit:2 %}
        {% include archive-single.html %}
      {% endfor %}
    <a href="{{ "/bookshelf/" | relative_url }}" class="back-to-top">Go to bookshelf &rarr;</a>
    </div>
  {% endif %}
{% endfor %}
    
